@{
    ViewBag.Title = "CONTACT US";
}


<!-- Reach out to us -->
<article>
    <section class="contact__block">

        <header class="section-head contact-us-head">
            <h3 class="text-center">Get In Touch</h3>
            <div class="section-head-subtitle text-center">
                <h5 class="subtitle">Contact us to learn more about us, as well as any partnership or speaking opportunities. If you'd like to be a part of our community, drop us a line and we'll get back to you straight away!</h5>
            </div>
        </header>

        <div class="container">
            <div class="row contact-us">
                <div class="col-md-12 my-2">
                    <div class="contact-us-container">
                        <div class="contact-head-section">
                            <h2 class="text-center">Say Hello!</h2>
                            <p class="details text-center">Reach us for any questions you might have.</p>
                        </div>

                        <div class="contact-us-body">
                            <form action="" method="POST" class="">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="budget">Budget</label>
                                        <select class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="forMessage" rows="6"></textarea>
                                </div>

                                <div class="flex justify-content-center">
                                    <button type="submit" class="btn btn-contact">submit mail</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. container ends -->
    </section>

    <!-- CONTACT US -->
    <section class="section__block contact--info">
        <div class="container">
            <div>
                <div class="flex">
                    <div class="medium-6 shadow box cell br-4 my-2">
                        <div class="flex align-items-center">
                            <div class="flex-shrink mx-2">
                                <img src="https://img.icons8.com/ios/64/000000/ringing-phone.png">
                            </div>
                            <div class="auto mx-2">
                                <h6>Let's talk</h6>
                                <span class="m-number">(+234)-908 569 0544</span> <br>

                            </div>
                        </div>
                    </div>
                    <div class="medium-6 shadow box cell br-4 my-2">
                        <div class="flex align-items-center">
                            <div class="flex-shrink mx-2">
                                <img src="https://img.icons8.com/pastel-glyph/64/000000/worldwide-location--v1.png">
                            </div>
                            <div class="auto mx-2">
                                <h6>Visit us</h6>
                                <address>
                                    NO. 28, KING GEORGE V ROAD<br />
                                    ONIKAN, LAGOS <br />
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /. CONTACT US ENDS -->
</article>