@{
    ViewBag.Title = "Official Website";
}

<div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center">
    <div class="container welcome-text">
        <h1 class="display-3 text-center intro-text">A Technology Company</h1>

        <h2 class="typewriter text-center text-white">
            Dedicated to
            <span class="txt-typed" data-wait="2000" data-words='["business growth", "innovative solutions", ""]'></span>
        </h2>
    </div>
</div>

<!-- about us/what we do -->
<section class="section__block">

    <div class="container">
        <header class="section-head">
            <h3 class="text-center">Reengineering The Web</h3>
            <div class="section-head-subtitle text-center">
                <h5 class="subtitle">Building great brands with better experience.</h5>
            </div>
        </header>

        <div class="row about-us">
            <div class="col-md-4 my-2">
                <div class="whatwedo__container">
                    <div class="steps">
                        <div class="icon--wrap">
                            <img src="https://img.icons8.com/ios/64/000000/web-design.png">
                        </div>
                        <h2 class="whatwedo__title">Website Design</h2>
                        <p class="whatwedo__details">We pride ourselves on our exceptional quality of work, attention to detail, respect, and friendly customer service.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="whatwedo__container">
                    <div class="steps">
                        <div class="icon--wrap">
                            <img src="https://img.icons8.com/ios/64/000000/web-design.png">
                        </div>
                        <h2 class="whatwedo__title">Print Design</h2>
                        <p class="whatwedo__details">We pride ourselves on our exceptional quality of work, attention to detail, respect, and friendly customer service.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="whatwedo__container">
                    <div class="icon--wrap">
                        <img src="https://img.icons8.com/ios/64/000000/web-design.png">
                    </div>
                    <h2 class="whatwedo__title">Web Design</h2>
                    <p class="whatwedo__details">We pride ourselves on our exceptional quality of work, attention to detail, respect, and friendly customer service.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SELECTED PROJECTS SECTION -->
<section class="section__block">

    <div class="container-fluid">
        <header class="section-head">
            <h3 class="text-center">Featured Projects</h3>
            <div class="section-head-subtitle text-center">
                <!-- <h5 class="subtitle"> Some of our recent works.</h5> -->
            </div>
        </header>

        <div class="container-fluid">
            <section class="row selected-works">
                <div class="col-md-4 each__project my-2">
                    <div class="card project-image" style="background: #777 url(../../Assets/Images/bg.jpg) no-repeat; background-size: cover;">
                        <a href="!">
                            <div class="proj--summary">
                                <h5>Opabid Farms Limited</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- <div class="flex">
                <div class="ml-auto"> <a href="#"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </a></div>
            </div> -->
        </div>
    </div>
</section>
<!-- /. SELECTED PROJECTS SECTION ENDS HERE -->

<!-- SERVICES -->
<section class="services section__block">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="col col-sm-12">
                <h1>Services</h1>
                <p class="lead">We Launch Brands, Products, Campaigns and Interactive Experiences for Every Screen.</p>

                <p>Our team provide a breadth and depth of knowledge in redefining creative and branding through our proven Design Thinking Process. We extract the appropriate details and validate our findings to produce world-class creative that is intuitive, beautiful and optimized for a modern audience. </p>

                <div class="flex align-items-center my-5">
                    <div class="sc-6 medium-3 cell each__service">
                        <div class="brand-icon">
                            <img src="https://img.icons8.com/ios/64/000000/web-design.png">
                        </div>
                        <h3>Web Design</h3>
                    </div>
                    <div class="sc-6 medium-3 cell each__service">
                        <div class="brand-icon">
                            <img src="https://img.icons8.com/dotty/64/000000/favorite-cart.png">
                        </div>
                        <h3>E-Commerces Solution</h3>
                    </div>

                    <div class="sc-6 medium-3 cell each__service">
                        <div class="brand-icon">
                            <img src="https://img.icons8.com/dotty/64/000000/two-smartphones.png">
                        </div>
                        <h3>Mobile & Desktop Application</h3>
                    </div>

                    <div class="sc-6 medium-3 cell each__service">
                        <div class="brand-icon">
                            <img src="https://img.icons8.com/ios/64/000000/design.png">
                        </div>
                        <h3>UI/UX & Branding</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. SERVICES ENDS -->

<!-- OUR PEOPLE -->
<section class="clients section__block">
    <header class="section-head">
        <h3 class="text-center">Our Creative Team</h3>
    </header>

    <div class="section-body">
        <div class="container-fluid">
            <div class='wrap'>
                <ul class='carousel is-set'>
                    <li class='carousel-seat' style="background: url(../../Assets/Images/bg.jpg) no-repeat; background-size: cover;">
                        <div class="team-mate--detail text-center m-3">

                            <h5 class="name">Godwin Mordecia</h5>
                            <span class="role ">Software Engineer</span>
                            <div class="social-links">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </div>
                    </li>
                    <li class='carousel-seat' style="background: url(../../Assets/Images/bg.jpg) no-repeat; background-size: cover;">
                        <div class="team-mate--detail text-center m-3">

                            <h5 class="name">Godwin Mordecia</h5>
                            <span class="role ">Software Engineer</span>
                            <div class="social-links">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </div>
                    </li>
                    <li class='carousel-seat' style="background: url(../../Assets/Images/bg.jpg) no-repeat; background-size: cover;">
                        <div class="team-mate--detail text-center m-3">

                            <h5 class="name">Godwin Mordecia</h5>
                            <span class="role ">Software Engineer</span>
                            <div class="social-links">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </div>
                    </li>
                    <li class='carousel-seat'>
                        <h2>4</h2>
                    </li>
                    <li class='carousel-seat'>
                        <h2>5</h2>
                    </li>
                    <li class='carousel-seat is-ref'>
                        <h2>6</h2>
                    </li>
                </ul>
            </div>

            <div class='controls'>
                <button class='toggle' data-toggle='prev'>Prev</button>
                <button class='toggle' data-toggle='next'>Next</button>
            </div>
        </div>
    </div>
</section>
<!-- /. OUR PEOPLE -->

<!-- CONTACT US -->
<section class="section__block talk-to-us">
    <div class="container">
        <div class="">
            <div class="flex">
                <div class="medium-6 shadow box cell br-4 my-2">
                    <div class="flex align-items-center">
                        <div class="flex-shrink mx-2">
                            <img src="https://img.icons8.com/ios/64/000000/ringing-phone.png">
                        </div>
                        <div class="auto mx-2">
                            <h6>Let's talk</h6>
                            <span class="m-number">(234) 989 600</span> <br>
                            <span class="m-number">(234) 989 600</span>
                        </div>
                    </div>
                </div>
                <div class="medium-6 shadow box cell br-4 my-2">
                    <div class="flex align-items-center">
                        <div class="flex-shrink mx-2">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/worldwide-location--v1.png">
                        </div>
                        <div class="auto mx-2">
                            <h6>Visit us</h6>
                            <address>
                                One Microsoft Way<br />
                                Redmond, WA 98052-6399<br />
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. CONTACT US ENDS -->